
<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/alexandria-ui-elements/_common/mold/alexandria-mold-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="sezzeteditormold/sezzet-editor-mold-layout.html">

<dom-module id="sezzet-editor-mold">

	<template>
		<sezzet-editor-mold-layout id="layout" item="[[item]]" mode="[[mode]]"></sezzet-editor-mold-layout>
	</template>

	<style>
		:host .textField {
			height: 30px;
			width: 100%;
			border: 3px solid black;
		}
		:host .add {
			height: 37px;
			margin: 0 0 10px 10px !important;
			width: 100px;
			font-size:15px;
		}
		:host .predicatesEmbedCatalog {
			width: calc(100% - 6px);
			border: 3px solid black;
		}
		:host .editor {
			height: calc(100% - 11px);
		}
	</style>

	<script>
		Polymer({
			is: 'sezzet-editor-mold',
			behaviors: [ AlexandriaBehaviors.MoldBehavior, CottonBehaviors.CarrierBehavior, CottonBehaviors.PushBehavior ],
			properties : {
				item : Object,
				mode : String
			},
			ready : function() {
				this.scopeSubtree(this.$.layout, true);
			}
		});
	</script>
</dom-module>