<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/paper-input/paper-input.html">
<link rel="import" href="../../lib/paper-button/paper-button.html">
<link rel="import" href="../../lib/iron-icon/iron-icon.html">

<script src="sezzeteditor/requester.js"></script>
<script src="sezzeteditor/notifier-listener.js"></script>
<script src="sezzeteditor/ace/src/ace.js"></script>
<script src="sezzeteditor/ace/src/theme-monokai.js"></script>
<script src="sezzeteditor/ace/src/mode-sezzet.js"></script>
<script src="sezzeteditor/ace/src/ext-language_tools.js"></script>

<dom-module id="sezzet-editor">

    <template>
        <div id="editor"></div>
    </template>

    <style>
        :host {
            display: block;
            height: 100%;
            width: 100%;
        }

        :host > div {
            margin-bottom: 10px;
        }

        :host #editor {
            height: 100%;
            width: 100%;
            font-size: 11pt;
            line-height: 35px;
        }
    </style>

    <script>

        var sezzetFeatures = "";
        var sezzetConstants = "";

        const SezzetEditorDictionary = {
            es: {},
            en: {}
        };

        const SyncInterval = 5 * 60000;
        const CountWizardSteps = 3;

        Polymer({
            is: 'sezzet-editor',

            behaviors: [CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior,
                SezzetEditorBehaviors.Requester,
                SezzetEditorBehaviors.NotifierListener
            ],

            properties: {
                _expression: {type: String, editable: true},
                _syncingLabel: String,
                _nextWizardLabel: String
            },

            attached: function () {
                this.translate(SezzetEditorDictionary);
                this.listenToDisplay();
                this._syncingLabel = this.Sync;
                this._synchronize();
            },

            _synchronize: function () {
                var self = this;
                window.setTimeout(() => {
                    self.sync();
                    self._synchronize();
                }, SyncInterval);
            },

            _render: function (setup) {
                var host = this;
                sezzetFeatures = this._buildAceFeatures(setup.features);
                sezzetConstants = this._buildAceConstants(setup.constants);
                var langTools = ace.require("ace/ext/language_tools");
                var editor = this._editor();
                editor.setShowPrintMargin(false);
                editor.setTheme("ace/theme/monokai");
                editor.session.setMode("ace/mode/sezzet");
                editor.setOption("cursorStyle", "ace");
                editor.setOptions({
                    readOnly: setup.readonly,
                    enableBasicAutocompletion: true,
                    enableLiveAutocompletion: true,
                    tabSize: 4,
                    useSoftTabs: false
                });
                editor.renderer.setOption("displayIndentGuides", true);
                editor.selection.moveCursorFileEnd();
                editor.on("change", (e) => {
                    this._expression = editor.getValue();
                    this._onChangeDelayed(editor.getSelectionRange().start.row, editor.getSelectionRange().start.column);
                });
                var expressionCompleter = {
                    getCompletions: function (editor, session, pos, prefix, callback) {
                        host.onSuggest({
                            line: editor.session.getLine(editor.getSelectionRange().start.row),
                            cursor: editor.getSelectionRange().start.column,
                            position: pos,
                            prefix: prefix
                        });
                        host.suggestCallback = callback;
                    }
                };
                langTools.setCompleters([expressionCompleter]);
            },

            _setExpression: function (expression) {
                this._expression = expression;
                if (this._expression == null || this._expression.length <= 0) return;
                var editor = this._editor();
                editor.setValue(this._expression, 1);
            },

            _buildAceFeatures: function (expressions, invalid, undefined) {
                var result = "";
                for (var i = 0; i < expressions.length; i++) {
                    result += result.length > 0 ? "|" : "";
                    result += expressions[i];
                }
                result += "|" + invalid + "|" + undefined;
                return new RegExp("\\b(?:" + result + ")\\b");
            },

            _buildAceConstants: function (expressions) {
                var result = "";
                for (var i = 0; i < expressions.length; i++) {
                    result += result.length > 0 ? "|" : "";
                    result += expressions[i];
                }
                return new RegExp("\\b(?:" + result + ")\\b");
            },

            _validationResult: function (items) {
                var editor = this._editor();
                var result = [];
                for (var i = 0; i < items.length; i++) {
                    result[i] = {row: items[i].line, column: 0, text: items[i].message, type: 'error'};
                }
                editor.getSession().setAnnotations(result);
            },

            _formatDate: function (date) {
                return moment(date).format("LLLL");
            },

            _suggestion: function (wordList) {
                this.suggestCallback(null, wordList.map(function (ea) {
                    return {name: ea, value: ea, score: 300, meta: "adqa"}
                }));
                this.suggestCallback = null;
            },

            _onChangeDelayed: function (line, column) {
                host = this;
                if (this.timeout != null) {
                    window.clearTimeout(this.timeout);
                    this.timeout = null;
                }
                this.timeout = window.setTimeout(() => {
                    this.onChange({
                        "cursor": {
                            "row": line,
                            "column": column
                        },
                        "expression": this._expression
                    })
                }, 500);
            },

            _editor : function() {
                return ace.edit(this.querySelector("#editor"));
            }

        });
    </script>
</dom-module>