<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-ui-elements/alexandria-desktop.html">

<script src="../../lib/alexandria-ui-elements/alexandriadesktop/requester.js"></script>
<script src="../../lib/alexandria-ui-elements/alexandriadesktop/notifier-listener.js"></script>

<script src="sezzeteditorhome/requester.js"></script>
<script src="sezzeteditorhome/notifier-listener.js"></script>

<dom-module id="sezzet-editor-home">

    <template>
        <alexandria-desktop></alexandria-desktop>
    </template>

    <style>
    </style>

    <script>

        const SezzetEditorHomeDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'sezzet-editor-home',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
						 SezzetEditorHomeBehaviors.Requester,
						 SezzetEditorHomeBehaviors.NotifierListener
                         ],

            properties : {
            },

			attached : function() {
				this.translate(SezzetEditorHomeDictionary);
				this._linkWithAlexandriaElement();
				this.listenToDisplay();
			},

			_linkWithAlexandriaElement : function() {
				var element = this.querySelector("alexandria-desktop");
				element.display = this.display;
				element.behaviors.push(AlexandriaDesktopBehaviors.Requester);
				element.behaviors.push(AlexandriaDesktopBehaviors.NotifierListener);
				element.behaviors.push(SezzetEditorHomeBehaviors.NotifierListener);
				for (var i in SezzetEditorHomeBehaviors.Requester) element[i] = SezzetEditorHomeBehaviors.Requester[i];
				element.listenToDisplay();
			}

        });
    </script>
</dom-module>