<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/cotton-translator/cotton-translator-behavior.html">

<link rel="import" href="../../../lib/alexandria-ui-elements/_common/alexandria-breadcrumbs-behavior.html">
<link rel="import" href="../../../lib/alexandria-ui-elements/_common/mold/alexandria-mold-layout-behavior.html">
<link rel="import" href="../../../lib/alexandria-ui-elements/_common/mold/alexandria-mold-block.html">
<link rel="import" href="../../../lib/alexandria-ui-elements/_common/mold/alexandria-mold-stamps.html">

<dom-module id="sezzet-editor-mold-layout">

	<template>
		<alexandria-mold-block class="a" block="[[a]]">
			<alexandria-mold-block class="a1" block="[[a1]]">
				<alexandria-stamp-embedded-display class="editor" stamp="[[editor]]"></alexandria-stamp-embedded-display>
			</alexandria-mold-block>
		</alexandria-mold-block>

		<div id="highlight"></div>
	</template>

	<style>
		:host {
			display:block;
			height:100%;
			overflow:auto;
			position:relative;
		}


		:host[mode="list"], :host[mode="grid"] {
			width: 100%;
		}
		:host[mode="magazine"] alexandria-mold-block {
			height: 100%;
		}
		:host alexandria-mold-block {
			margin-left: 2px;
			margin-right: 2px;
		}
		:host .expanded-block {
			margin: 10px 0;
		}
		:host #highlight {
			background: var(--accent-color);
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s 0.5s, opacity 0.5s linear;
			border-radius: 10px;
		}
		:host #highlight.visible {
			visibility: visible;
			opacity: 0.3;
			transition: opacity 0.5s linear;
		}
	</style>

	<script>
		Polymer({
			is: 'sezzet-editor-mold-layout',

			behaviors: [ CottonBehaviors.TranslatorBehavior, AlexandriaBehaviors.MoldLayoutBehavior, AlexandriaBehaviors.BreadcrumbsBehavior ],

			blocks : function() {
				var blocks = [];
				blocks.push({name:"a",layout:"Vertical CenterJustified Flexible",style:"height:100%"});
				blocks.push({name:"a1",layout:"Horizontal Flexible",style:"height:100%"});return blocks;
			},

			stamps : function() {
				var stamps = [];
				stamps.push({name:"editor",type:"embedded-display",layout:"Fixed",properties:{defaultStyle:"height:calc(100% - 30px);display:block",displayType:"SezzetEditor"}});
				return stamps;
			}
		});
	</script>

</dom-module>